* {
    box-sizing: border-box;
}
body {
    max-width: 2050px;
    margin: 0px;
}
.nav-container {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 100;
    
}
.logo {
    height: 50px;
    padding-top: 20px;
    cursor: pointer;
}
nav {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(19, 19, 59);
}
ul {
    display: flex;
    list-style-type:none;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin-left: 250px;
    padding: 0;
   
}
.nav-item {
    position: relative;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    width: 250px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: gainsboro;
    min-width: 160px;
    z-index: 1;
    right: -80px;
    bottom: -62px;

}
.dropdown-content:hover {background-color: gainsboro}

.dropdown:hover .dropdown-content {display: block;}
.hot {
    position: absolute;
    background: tomato;
    width: 40px;
    height: 20px;
    top: -13px;
    text-align: center;
    border-radius: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: small;
    padding-top: 2px;
}
.base-container {
    position: relative;
    display: inline-block;
    border-bottom: 3px rgb(191, 184, 184);
}
.base {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    padding-top: 15px;
    width: 360px;
    height: 250px;
    z-index: 1;
    right: -95px;
    bottom: -262px;
    color: gainsboro;
    text-align: center;
}
.baseline {
    width: 360px;
    margin: 0px;
    border-top: 1px solid gainsboro;
}
.link1 {
    line-height: 30px;
    color: rgb(191, 184, 184);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.base-container:hover .base {display: block;}
.new {
    background: rgb(86, 204, 189);
    width: 60px;
    height: 25px;
    border-radius: 15px;
    text-decoration: none;
    list-style-type: none;
    color: white;
    text-align: center;
    position: absolute;
    right: 20px;
    font-size: 15px;
    margin-top: 15px;
    padding-top: 3px;
    /* top: -0.20px; */
}
.nav_item {
    padding: 0 20px;
    margin-top: 15px;
}
.button {
    background-color: rgba(255, 255, 0, 0.597);
    border: none;
    color: black;
    padding: 20px 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
}
.button:hover {
    background-color: rgb(4, 4, 100);
    color: white;
  }
main {
    width: 100%;
}  

.slideshow-container {
    max-width: 2050px;
    margin: auto;
}  
.mySlides {
    /* display: none; */
    position: relative;
}
.slide1 {
    margin: 0 auto;
    max-width: 2050px;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-image: url("Image/slide3.jpg") ;
    background-repeat: no-repeat;
    background-size: 2050px 600px;
    background-size: cover;
    position: relative;
}
.free-support {
    text-align: center;
    padding-top: 350px;
    color: white;
    /* font-weight: bolder; */
    font-family: Arial, Helvetica, sans-serif;
}
.staffs {
    font-weight: bolder;
    font-style: italic;
}

.image {vertical-align: middle;}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text-align:center {
    bottom: 60px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px;
    margin-top: 20px;
    /* margin: 0 2px; */
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}    
.active, .dot:hover {
    background-color: #717171;
}
.active, .active {
    background-color: rgb(10, 10, 68);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
.text {
    position: absolute;
    top: 150px;
    left: 300px;
    text-align: center;
} 
/* .pos {
    position: relative;
}  */
.wk1 {
    text-align: center;
    position: absolute;
    right: -50px;
    top: 80px;

}
.work {
    color: white;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    
}
.create {
    color: white;
    text-align: center;
    font-size: 50px;
    position: absolute;
    
}
.ss {
    color: yellow;
}
.mostfree {font-size: 70px;}
span {
    color: yellow;
}
.btn11 {
    color: white;
    padding: 30px 100px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    border: 10px white;
    border: bold;
    opacity: 0.6;
    font-size: larger;
    position: absolute;
    top: 40px;

}
.image-slide {
    max-width: 2050px;
    height: 600px;
    
}
.slide {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.template {
    text-align: center;
    font-size: x-large;
}
.recent-work {
    font-style: italic;
    font: bold;
    font-size: large;
    font-family: sans-serif;
}
.most {
    color: rgb(11, 11, 75);
    font-family: sans-serif;
}
.images {
    box-shadow: 5px 10px 18px #888888;
    margin: 20px;
}
.view-container {
    width: 415px;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 20px;
    right: 20px;
    display: none;
    transition: all .3s;
}
.view {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid white;
    text-align: center; 
    margin: 0 auto;
    font-size: larger;
    color: white;
    line-height: 30px;
    padding-top: 15px;
    margin-top: 100px;
    cursor: pointer;
}
.store:hover .view-container {
    display: block;
}
.store {
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}
h4 {
    color: rgb(42, 42, 100);
    font-size: 20px;
}
.cstore {
    color: rgb(140, 138, 138);
}
.our-services {
    background-color: rgb(240, 235, 235);
    max-width: 2050px;
    height: 800px;
    text-align: center;
    margin: 0 auto;
}
.save-time {
    padding-top: 70px;
    font-family: sans-serif;
}
.ICA {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: rgb(30, 30, 94);
    font-size: large;
    max-width: 1000px;
    margin: 0 auto;
}
.circle-container {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 90px;
}
.circle {
    width: 180px;
    height: 180px;
    background-color: rgb(12, 12, 65);
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}
.circle-layer {
    max-height: 150px;
    padding-top: 40px;
}
.spanner {
    max-height: 130px;
    padding-top: 40px;
    /* background-image: rgb(12, 12, 65); */
}
.cursor {
    max-height: 150px;
    padding-top: 40px;
    background-image: white;
}
.slider {
    height: 500px;
}
.free {
    text-align: center;
    padding-top: 130px;
    color: white;
    line-height: 10px;
}
.fs {
    font-size: 50px;
    font-weight: bold;
}
.btn3 {
    margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
}
.info {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}
.link {
    /* max-width: 1050px; */
    list-style-type: none;
    text-decoration: none;
    color: rgb(7, 7, 78);
    font-size: larger;
    font-weight: bolder;
}
.info-container {
    max-width: 400px;
    height: 150px;
    font-size: larger;
    font-family: sans-serif;
    color: black;
    margin: 0 auto;
}
.pi {
    padding-right: 50px;
}
.pinfo {
    padding-right: 20px;
}
.our {
    color: rgb(10, 10, 68);
    text-align: center;
    font-size: 50px;
    /* padding-top: 20px; */
    margin: 0px;
}
.btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    margin: 4px 2px;
    cursor: pointer;
    border: 3px solid white;
    font-family: sans-serif;
    line-break: loose;
}
.btn:hover {
    background-color: rgb(4, 4, 100);
    color: white;
}
.ptext {
    color: rgb(103, 103, 114);
    font-family: sans-serif;
}

.staffs {
    font-size: large;
    font-style: italic;
}
.btn1 {
    background-color: rgb(238, 238, 132);
    color: rgb(10, 10, 68);
    border-radius: 50px;
    padding: 25px 80px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
.btn1:hover {
    background-color: rgb(4, 4, 100);
    color: white;
  }

.footer {
    max-width: 2050px;
    height: 500px;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(6, 6, 65);
}
.policy {
    max-width: 1000;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 70px;
    
}
h3 {
   
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.pro {
    padding-left: 70px;
}
.tag {
    padding-left: 70px;
}
.atag {
    text-decoration: none;
    color: rgb(140, 138, 138);
    line-height: 40px;
    /* padding-left: 50px; */
}
.image-container {
    margin-right: 30px;
}
.small {
    max-width: 30px;
    margin: 20px;
    cursor: pointer;
}
.twitter {
    border-radius: 5px;
}
.question {
    line-height: 40px;
    color: rgb(140, 138, 138);
}
.rights {
    max-width: 1200px;
    display: flex;
    position:relative ;
    /* justify-content: center; */
    margin: 0 auto;
    top: 20px;
}
hr {
    margin: 0;
}
.forum {
    display: flex;
    position: absolute;
    right: -120px;
}
.powered {
    position: absolute;
    left: -120px;
}
.footer-home{
    text-decoration: none;
    margin: 20px;
    color: rgb(6, 6, 65);
}
